@font-face {
	font-family: "Montserrat";
	src: url("../lib/fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
	font-family: "MontserratBold";
	src: url("../lib/fonts/Montserrat-ExtraBold.ttf");
}