@font-face {
	font-family: "Montserrat";
	src: url("../lib/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
	font-family: "MontserratBold";
	src: url("../lib/fonts/Montserrat-ExtraBold.ttf");
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
	width: 0.8em;
}

.table-of-contents::-webkit-scrollbar {
	width: 0.4em;
}

body::-webkit-scrollbar-track,
.table-of-contents::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
	color: none;
}

body::-webkit-scrollbar-thumb,
.table-of-contents::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
	background-color: rgba(166, 183, 255, 0.4);
	border: 1px solid rgba(166, 183, 255, 0.4);
	border-radius: 0.8em;
}

body,
.table-of-contents {
	overflow: overlay;
}

/* Org Photos */

.org-photo {
	border-radius: 0.8em;
}

/* Markdown Styles */

.markdown a {
	color: #C2FCFF;
}

.markdown a:hover {
	text-decoration: underline;
}

.markdown p,
.markdown h2,
.markdown h3 {
	font-weight: 500;
	font-size: 1em;
	line-height: 150%;
	color: #BABABA;
	padding-bottom: 1em;
}

.markdown ul {
	font-weight: 400;
	font-size: 1em;
	color: #BABABA;
	padding-left: 1em;
	list-style-type: disc;
	padding-bottom: 1em;
}

.markdown ol {
	font-weight: 400;
	font-size: 1em;
	color: #BABABA;
	padding-left: 2em;
}

.markdown h2 {
	font-size: larger;
}

.markdown h3 {
	font-size: large;
}

/* Partner Style */
@keyframes darken {
	0% {
		background: rgba(51, 51, 51, 0.50);
	}

	100% {
		background: rgba(51, 51, 51, 0.85);
	}
}

@keyframes lighten {
	0% {
		background: rgba(51, 51, 51, 0.50);
	}

	100% {
		background: rgba(51, 51, 51, 0.85);
	}
}

.partner.darken {
	animation-name: darken;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.partner.card {
	background: rgba(51, 51, 51, 0.50);
	animation-name: lighten;
	animation-duration: 0.3s;
	animation-fill-mode: backwards;
	animation-direction: reverse;
}